* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

header {
  text-align: center;
}

#img1 {
  width: 364px;
  height: 370px;
  margin-bottom: 17px;
}

header h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 3.2rem;
  color: #B52184;
  font-weight: 900;
  margin-bottom: 5px;
}

header p {
  font-family: 'Mulish', sans-serif;
  font-size: 2.0rem;
  font-weight: 400;
  color: #312D64;
  margin-bottom: 35px;
  
}

#img2 {
  width: 58px;
  height: 105px;
  margin-bottom: 90px;
}

main {
  background: #312D64;
  width: 430px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.card {
  width: 350px;
  height: 360px;
  border-radius: 20px;
  background: #fff;
  margin: 50px 40px;
}

.card img {
  margin: 20px;
}

.card h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 2.9rem;
  font-weight: 900;
  color: #B52184;
  padding: 10px 20px;
}

.card p {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #312D64;
  padding: 0 20px ;
}

.contact {
  width: 350px;
  height: 420px;
  margin-top: 80px;
}

.contact h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  color: #B52184;
  margin-bottom: 30px;
}

label {
  align-items: center;
  margin: 20px;
}


input {
  border: none;
}

button {
  width: 150px;
  height: 45px;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  background: #312D64;
  color: #fff;
  border-radius: 16px;
}

footer {
  margin-top: 30px;
  width: 430px;
  height: 80px;
  background: #312D64;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  color: #fff;
  padding: 30px 16px;
}